<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kardex.Properties.Settings.ConnectionDB" connectionString="Data Source=kardexug.database.windows.net;Initial Catalog=kardex;Persist Security Info=True;User ID=kardex_admin;Password=WB}0svyeZoL9}1R)["
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>